<h1>WorkExperienceExtractor#ExtractExperienceSections</h1>
<p>Find me in app/views/work_experience_extractor/ExtractExperienceSections.html.erb</p>
<br>
File:
<%= @projectDescriptions[0]['timeRange'] %>
<br>
<br>
<br>
<br>
<%= @jobDescriptions %>
<br>
<br>
<br>
<br>
<%= @classDescriptions %>
<br>
<br>
<br>
<br>
test7
<%= $test7 %>
