<head>
	<%= stylesheet_link_tag    "middle_section_page", :media => "all" %>
</head>
<body>
<br>
<h1>Select From Amongst The Categories of Work For More Details</h1>
<br>
<br>
<br>
<div class="rounded-corners outer-shadows" id="TextBox">
	<div id="TextBoxBody">
		<h1><a href="/work_category_content/projects">Projects</a></h1>
	</div>
</div>
<br>
<br>
<div class="rounded-corners outer-shadows" id="TextBox">
	<div id="TextBoxBody">
		<h1><a href="/work_category_content/jobs">Jobs</a></h1>
	</div>
</div>
<br>
<br>
<div class="rounded-corners outer-shadows" id="TextBox">
	<div id="TextBoxBody">
		<h1><a href="/work_category_content/classes">Classes</a></h1>
	</div>
</div>
<br>
<br>
<br>
<h5><a href="javascript:history.back()">Previous page</a></h5>
</body>
