<head>
	<%= stylesheet_link_tag    "templatemo_style", "slimbox2", :media => "all" %>
	<%= javascript_include_tag "application" %>
</head>
<body>
<% Projects.all.each do |c| %>
<div class="rounded-corners outer-shadows" id="TextBox">
	<div id="TextBoxHeader">
		<%= c.time_range %>
	</div>
	<div id="TextBoxBody">
		<%= c.description %>
	</div>
	<br>
</div>
<% end %>
<div class="clear"></div>
</body>