<%= javascript_include_tag "application" %>
<% Projects.all.each do |c| %>
<div class="rounded-corners outer-shadows" id="TextBox">
	<div id="TextBoxHeader">
		<%= c.time_range %>
	</div>
	<div id="TextBoxBody">
		<%= c.description %>
	</div>
	<br>
</div>
<% end %>
<div class="clear"></div>