<div id="nateSuttonImage">
	<a href="http://nmsutton.heroku.com"><img src='/assets/nateSutton.png'></a>
</div>
<div id="githubLink">
	<a href="http://github.com/nmsutton/SiteAboutNmsutton"><img src='/assets/githublink2.jpg'></a>
</div>
<div id="backgroundWatermark">
	<img src="/assets/templatemo_wrapper.png">
</div>
<div id="canvasContainer">
	<canvas id="myCanvas" width="800px" height="100px"></canvas>

	<script src="/assets/navMenu3d.js">
		var c = document.getElementById("myCanvas");
		var ctx = c.getContext("2d");
	</script>
</div>