<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<!--
	References:
	http://jonraasch.com/blog/css-rounded-corners-in-all-browsers
	http://coryg.com/blog/rails/view-all-of-your-database-tables-in-rails/
	http://stackoverflow.com/questions/9975810/make-iframe-automatically-adjust-height-according-to-the-contents-without-using -->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Site About NMSutton</title>
		<%= stylesheet_link_tag    "main_page", :media => "all" %>
		<%= javascript_include_tag "http://www.html5canvastutorials.com/libraries/three.min.js", "main_page"  %>
		<%= csrf_meta_tags %>
		<meta name="keywords" content="Nate Sutton, work, work experience, resume" />
	</head>
	<body>
		<div id="nateSuttonImage">
			<a href="http://nmsutton.heroku.com"><img src='assets/nateSutton.png'></a>
		</div>
		<div id="githubLink">
			<a href="http://github.com/nmsutton/SiteAboutNmsutton"><img src='assets/githublink2.jpg'></a>
		</div>
		<div id="backgroundWatermark">
			<img src="assets/templatemo_wrapper.png">
		</div>
		<div id="canvasContainer">
			<canvas id="myCanvas" width="800px" height="100px"></canvas>
		</div>

		<script>
			var c = document.getElementById("myCanvas");
			var ctx = c.getContext("2d");
		</script>

		<div id="templatemo_body_wrapper">
			<div id="templatemo_wrapper">
				<div id="templatemo_middle" name="templatemo_middle">
					<iframe name="Stack" src="/welcome_page/welcome_page.html" width="100%" frameborder="0" scrolling="no" id="iframe" onload='javascript:resizeIframe(this);' />
				</div>
			</div>
		</div>

	</body>
</html>