<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<!--
	References:
	http://jonraasch.com/blog/css-rounded-corners-in-all-browsers
	http://coryg.com/blog/rails/view-all-of-your-database-tables-in-rails/
	http://stackoverflow.com/questions/9975810/make-iframe-automatically-adjust-height-according-to-the-contents-without-using -->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Site About NMSutton</title>
		<%= stylesheet_link_tag    "main_page", :media => "all" %>
		<%= javascript_include_tag "http://www.html5canvastutorials.com/libraries/three.min.js", "main_page"  %>
		<%= csrf_meta_tags %>
		<meta name="keywords" content="Nate Sutton, work, work experience, resume" />
	</head>
	<body>
		<div id="nateSuttonImage">
			<a href="http://nmsutton.heroku.com"><img src='assets/nateSutton.png'></a>
		</div>
		<div id="githubLink">
			<a href="http://github.com/nmsutton/SiteAboutNmsutton"><img src='assets/githublink2.jpg'></a>
		</div>
		<div id="backgroundWatermark">
			<img src="assets/templatemo_wrapper.png">
		</div>
		<div id="canvasContainer">
			<canvas id="myCanvas" width="800px" height="100px"></canvas>
		</div>

		<script>
			var c = document.getElementById("myCanvas");
			var ctx = c.getContext("2d");
		</script>

		<div id="templatemo_body_wrapper">
			<div id="templatemo_wrapper">
				<div id="templatemo_middle" name="templatemo_middle">
					<iframe name="Stack" src="/projects/projects.html" width="100%" frameborder="0" scrolling="no" id="iframe" onload='javascript:resizeIframe(this);' />
				</div>
				<div id="templatemo_main">
					<div class="col_2 left">
						<h2>Welcome Page</h2>
						<img class="img_border img_nom" src="assets/templatemo_image_01.jpg" alt="image" />
						<p>
							<em>Ut ut est sed velit gravida dapibus. Ut aliquam, felis ac malesuada aliquet, eros purus pellentesque nisl, vel convallis lacus nunc ornare lacus.</em>
						</p>
						<p align="justify">
							Nightlight template is provided by <a href="http://www.templatemo.com" target="_parent">templatemo</a> for anyone. This layout can be applied for your websites. Credits go to <a href="http://www.wpzoom.com" target="_blank">wpzoom</a> for icons, <a href="http://www.freedesign4.me/vectors/free-vector-party-girls/" target="_blank">freedesign4.me</a> and <a href="http://www.vectorvaco.com">VectorVaco</a> for vectors used in this template. Curabitur rutrum, turpis in pretium sodales, mauris arcu lobortis velit, sit amet convallis sem nisl non elit. Sed auctor risus et purus bibendum ornare. Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow">CSS</a>.
						</p>
						<a href="#" class="more">More</a>
					</div>

					<h2>Upcoming Events</h2>
					<ul class="nobullet even_list">
						<li>
							<a href="#"> <span class="title">Curabitur sed est eget massa convallis posuere</span> <span class="date">Sep 25, 2072 - Sunday 11:00 PM</span> <span class="place">Donec molestie magna a tincidunt vehicula</span> </a>
						</li>
						<li>
							<a href="#"> <span class="title">Mauris vel justo orci</span> <span class="date">Sep 24, 2072 - Saturday 9:30 PM</span> <span class="place">Ut ornare arcu vel arcu mattis malesuada</span> </a>
						</li>
						<li>
							<a href="#"> <span class="title">Sagittis eget ullamcorper augue placerat</span> <span class="date">Sep 23, 2072 - Friday 11:30 PM</span> <span class="place">Vivamus accumsan lobortis lorem iaculis laoreet</span> </a>
						</li>
						<li>
							<a href="#"> <span class="title">Fusce pretium urna vitae metus</span> <span class="date">Sep 22, 2072 - Thursday 10:45 PM</span> <span class="place">Phasellus commodo justo sit amet dictum consequat</span> </a>
						</li>
					</ul>
					<a href="#" class="more">More</a>
				</div>

				<div class="clear"></div>

			</div>
			<div id="templatemo_footer">
				<div class="col_2 left">
					"Vivamus suscipit euismod lacus, et <a href="#">#volutpat</a> ipsum bibendum eget. Mauris vel justo orci" <a href="#">Follow us on Twitter</a>
				</div>
				<div class="col_2 right">
					Copyright © 2072 <a href="#">Company Name</a>
					<br />
					<a href="http://www.templatemo.com/preview/templatemo_373_nightlight">NightLight</a> by <a href="http://www.templatemo.com">templatemo</a>
				</div>
			</div>
		</div>

	</body>
</html>