<head>
<%= stylesheet_link_tag    "middle_section_page", :media => "all" %>
<%= javascript_include_tag "form_processing" %>
</head>
<body>
<h1>Tag Categories</h1>
<br>
<br>
<br>
<form action="/tag_navigator/tag_details" method="post" id='generalForm'>
	<input id="parameterName" name="parameterName" type="hidden" />
	<% for tagCategoryEntryIndex in (0..@TagCategoryList.length - 1) %>
	<div class="rounded-corners outer-shadows" id="TextBox">
		<div id="TextBoxHeader">
			<%= @TagCategoryList[tagCategoryEntryIndex][0] %>
		</div>
		<% for tagEntryIndex in (1..@TagCategoryList[tagCategoryEntryIndex].length - 1) %>
		<div id="TextBoxBody">
			<%= link_to @TagCategoryList[tagCategoryEntryIndex][tagEntryIndex], "javascript:processTagLink(\'"+@TagCategoryList[tagCategoryEntryIndex][tagEntryIndex]+"\')", :class => "button" %>
		</div>
		<% end %>
	</div>
	<% end %>
</form>
<br>
<h5><a href="javascript:history.back()">Previous page</a></h5>
</body>
