/* Reference: http://www.templatemo.com */
body {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin: 0;
	padding: 0 0 20px 0;
	color: #c0c4d2;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.4em;
	font-weight: normal;
	text-decoration: none
}
a, a:hover {
	color: #d2cb04;
	text-decoration: none
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
	font-weight: 400;
	padding: 0;
	margin: 0 0 10px 0;
}

h1 {
	font-size: 34px;
	margin-bottom: 25px;
	line-height: 38px
}
h2 {
	font-size: 26px;
	margin-bottom: 25px;
	line-height: 28px;
}
h3 {
	font-size: 20px;
	line-height: 24px
}
h4 {
	font-size: 18px
}
h5 {
	font-size: 16px
}
h6 {
	font-size: 12px
}

#workExperienceRecords {
	text-align: center;
}

#tagCategoryRecords {
	text-align: center;
}

.rounded-corners {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}
.outer-shadows {
	/* outer shadows  (note the rgba is red, green, blue, alpha) */
	-webkit-box-shadow: 0px 0px 48px rgba(0, 10, 117, 1.0);
	-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
}
#TextBox, .TagRelevantWorkDescription {
	position: relative;
	margin: 10px;
	padding: 10px;
	top: 0px;
	left: 0px;
	display: inline-block;
	behavior: url(border-radius.htc);
	min-height: 50px;
	min-width: 50px;
	max-width: 40%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0,0,0,.4);
	border: 5px solid #000A75;
	font-size: 24px;
	line-height: 30px;
}
#TextBoxHeader {
	background-color: #000000;
	padding: 6px;
	text-align: center;
}
#TextBoxBody {
	position: relative;
	top: 10px;
}
.TextInBarRoundedBorder {
	position: relative;
	color: #FFFFFF;
	font-family: Tahoma, Geneva, sans-serif;
	top: 0px;
	left: 0px;
	font-size: 40px;
	font-weight: 500;
	padding: 15px 0px 0px 0px;
	width: 70%;
	height: 45px;
	background-image: url(BlueBar.jpg);
	overflow: hidden;
	clear: both;
	display: inline-block;
	behavior: url(border-radius.htc);
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0,0,0,.4);
	border: 2px solid #000000;
	line-height: 30px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-khtml-border-radius: 60px;
	border-radius: 60px;
	background-color: #000000;
	 -khtml-opacity:.70; 
 -moz-opacity:.70; 
 -ms-filter:"alpha(opacity=70)";
  filter:alpha(opacity=70);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.7);
  opacity:.70; 
}
.SubHeaderTextInBar {
	font-size: 27px;
	width: 40%;
	padding: 5px 0px 7px 0px;
	height: 25px;
}
.GreenBar {
	background-image: url(GreenBar.jpg);
}
.YellowBar {
	background-image: url(YellowBar.jpg);
}
.TagRelevantWorkDescription {
	position: relative;
	min-width: 200px;
	max-width: 90%;
}
.RectangleButton {
	position:relative;
	font-size: 130%;
	border: 1px solid #454545;
	padding: 12px;
	min-width:50px;
	max-width:130px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#212121));
}
