/* Credit: http://www.templatemo.com */

body {
	margin: 0;
	padding: 0 0 20px 0;
	color: #b9becd;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.4em;
	background-color: #1a1d25;
	background-image: url(templatemo_body.png);
	background-repeat: repeat
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
	font-weight: 400;
	padding: 0;
	margin: 0 0 10px 0;
}

h1 {
	font-size: 34px;
	margin-bottom: 25px;
	line-height: 38px
}
h2 {
	font-size: 26px;
	margin-bottom: 25px;
	line-height: 28px;
}
h3 {
	font-size: 20px;
	line-height: 24px
}
h4 {
	font-size: 18px
}
h5 {
	font-size: 16px
}
h6 {
	font-size: 12px
}

.left {
	float: left
}
.right {
	float: right
}
.clear {
	clear: both
}

.h10 {
	height: 10px
}
.h20 {
	height: 20px
}
.h30 {
	height: 30px
}
.h60 {
	height: 60px
}

img {
	margin: 0;
	padding: 0;
	border: 0
}

.img_border {
	border: 1px solid #363637;
	background: #000;
	padding: 6px
}
.img_border_s {
	padding: 3px
}
.img_border_b {
	padding: 6px
}

.img_nom {
	display: block;
	margin-bottom: 15px
}
.img_fl {
	float: left;
	display: block;
	margin: 1px 20px 8px 0
}
.img_fr {
	float: right;
	margin: 1px 0 8px 20px
}

p {
	margin: 0 0 15px 0;
	padding: 0
}
em {
	color: #fff
}

hr {
	clear: both;
	margin: 40px 0;
	height: 5px;
	border: none;
	background: url(templatemo_hr_divider.jpg) center bottom
}

a:link, a:visited {
	color: #f5ef0f;
	text-decoration: none
}
a:hover {
	text-decoration: none
}
a:hover, a:active {
	outline: none
}

a.more, form .more {
	display: block;
	margin-top: 10px;
	color: #f5ef0f;
	width: 86px;
	height: 33px;
	line-height: 30px;
	text-align: center;
	background: url(templatemo_button_small.png)
}

form .more {
	border: none;
	cursor: pointer
}

a.more:hover, form .more:hover {
	text-decoration: none;
	background: url(templatemo_button_small_hover.png)
}

ol.nobullet, ul.nobullet {
	margin: 0;
	padding: 0;
	list-style: none
}
ol.nobullet li, ul.nobullet li {
	margin: 0;
	padding: 0
}

ol.number_list {
	margin: 10px 0 10px 15px;
	padding: 0;
	list-style: decimal-leading-zero
}
ol.number_list li {
	margin: 0 0 7px 0;
	padding: 0 0 0 10px
}
ol.number_list li a {
	color: #b9becd;
	font-weight: normal;
	text-decoration: none
}
ol.number_list li a:hover {
	color: #b9becd
}

#templatemo_body_wrapper {
	width: 100%;
	background: url(templatemo_wrapper.png) top center no-repeat
}
#templatemo_wrapper {
	width: 968px;
	margin: 0 auto;
	padding: 0 10px;
}
#templatemo_header {
	padding: 20px 34px 0;
	height: 110px;
}
#templatemo_menu {
	padding: 6px 14px 6px 34px;
	height: 41px;
	margin-bottom: 40px;
	background: url(templatemo_menu_bar.png) no-repeat
}
#templatemo_middle {
	padding: 0 34px;
	margin-bottom: 40px;
	background: url(templatemo_middle.png) no-repeat
}
#templatemo_main {
	padding: 0 34px 30px;
}
#templatemo_content {
	width: 590px;
}
#templatemo_sidebar {
	width: 280px;
}
#templatemo_footer {
	padding: 30px 34px;
	height: 40px;
	background: url(templatemo_footer.png) no-repeat
}

.col {
	float: left;
	margin: 0 30px 30px 0
}

.col_2 {
	width: 435px
}
.col_3 {
	width: 280px
}
.col_32 {
	width: 590px
}

.col_4 {
	width: 202px
}
.col_43 {
	width: 607px
}
.col_5 {
	width: 156px
}

/* header */
#site_title {
	float: left;
	width: 400px;
}

#site_title a {
	display: block;
	width: 240px;
	height: 110px;
	margin: 0 auto;
	background: url(templatemo_logo.png) no-repeat;
	text-indent: -10000px
}

#templatemo_header .col_4 {
	margin-top: 40px
}
#templatemo_header .col_4 a {
	display: block;
	float: right;
	margin-left: 5px
}

/* menu */
#templatemo_menu ul {
	float: left;
	width: 640px;
	margin: 0;
	padding: 0;
	list-style: none
}
#templatemo_menu ul li {
	margin: 0;
	padding: 0;
	display: inline
}
#templatemo_menu ul li a {
	display: block;
	float: left;
	line-height: 41px;
	padding: 0 30px;
	margin-right: 1px;
	font-size: 14px;
}
#templatemo_menu ul li a:hover, #templatemo_menu ul li a.selected {
	color: #d10f9a;
	background: #0e0e0e
}

#templatemo_search {
	float: right;
	margin-top: 4px;
	width: 221px;
	height: 33px;
	background: url(templatemo_search_box.png)
}

#templatemo_search form {
	margin: 0;
	padding: 0;
}

#templatemo_search .txt_field {
	display: block;
	height: 23px;
	line-height: 23px;
	width: 200px;
	color: #666;
	font-size: 12px;
	padding: 5px 10px;
	font-variant: normal;
	border: none;
	background: none;
}

/* middle */
.event {
	position: relative;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 310px;
	width: 240px;
	padding: 20px;
}
.event1 {
	background-image: url(templatemo_bg_gp.png)
}
.event2 {
	background-image: url(templatemo_bg_ctp.png)
}
.event3 {
	background-image: url(templatemo_bg_dj.png)
}

a.event_btn {
	display: block;
	position: absolute;
	bottom: 5px;
	left: 6px;
	width: 269px;
	height: 68px;
	text-indent: -10000px;
}

.event1 a.event_btn {
	background-image: url(templatemo_btn_girlparty.png)
}
.event2 a.event_btn {
	background-image: url(templatemo_btn_cocktailparty.png)
}
.event3 a.event_btn {
	background-image: url(templatemo_btn_djjoe.png)
}

/* content */
ul.even_list li a {
	display: block;
	padding: 15px 20px;
	width: 395px;
	margin-bottom: 5px;
	border-bottom: 5px solid #000;
	background: #1b1b1b url(templatemo_go.png) 380px 22px scroll no-repeat
}

ul.even_list li a:hover {
	text-decoration: none;
	background-color: #0a0a0a
}
ul.even_list li a span {
	display: block
}
ul.even_list li a span.title {
	font-weight: 700;
	color: #fff
}
ul.even_list li a span.date {
	color: #eb9a0c
}
ul.even_list li a span.place {
	color: #fff840
}

#gallery li {
	display: block;
	float: left;
	margin: 0 30px 30px 0;
}
#gallery li.no_mr {
	margin-right: 0
}

#contact_form {
	padding: 0;
	margin-bottom: 40px;
	width: 435px;
}
#contact_form form {
	margin: 0px;
	padding: 0px;
}

#contact_form form .input_field {
	width: 192px;
	padding: 5px;
	margin-bottom: 20px;
	color: #999999;
	background: #111111;
	border: 1px solid #333333;
	font-family: Tahoma, Geneva, sans-serif;
}

#contact_form form label {
	display: block;
	margin-bottom: 5px;
}

#contact_form form textarea {
	width: 425px;
	height: 150px;
	padding: 5px;
	margin-bottom: 10px;
	color: #999999;
	background: #111111;
	border: 1px solid #333333;
	font-family: Tahoma, Geneva, sans-serif;
}

.comment_list {
	margin: 0;
	padding: 0;
	list-style: none
}
.comment_list .comment_box {
	padding: 20px;
	border-bottom: 3px solid #000
}
.comment_list li {
	margin-bottom: 20px
}
.comment_list li ul {
	list-style: none;
	background: none
}
.comment_list li ul li {
}
.comment_list li ul li .comment_box {
	background: #222
}
.comment_content {
	float: right;
	width: 430px
}
.comment_list li ul li.depth_2 .comment_content {
	width: 390px
}
.comment_list li ul li.depth_3 .comment_box {
	background: #333
}
.comment_list li ul li.depth_3 .comment_content {
	width: 340px
}

#comment_form {
}

#comment_form form .input_field {
	width: 290px;
	padding: 5px;
	margin-bottom: 10px;
	color: #999999;
	background: #111111;
	border: 1px solid #333333;
	font-family: Tahoma, Geneva, sans-serif;
}

#comment_form form label {
	display: block
}

#comment_form form textarea {
	width: 290px;
	height: 170px;
	padding: 5px;
	margin-bottom: 10px;
	color: #999999;
	background: #111111;
	border: 1px solid #333333;
	font-family: Tahoma, Geneva, sans-serif;
}

/* sidebar */

/* footer */
#templatemo_footer {
	line-height: 20px
}
#templatemo_footer .left {
	color: #999999
}
#templatemo_footer .left a {
	color: #CC99FF
}

#templatemo_footer .right {
	text-align: right;
	color: #999999
}
#templatemo_footer .right a {
	text-align: right;
	color: #CC99FF;
}

.no_mr {
	margin-right: 0
}

.templatemo_paging {
	margin: 0 0 20px;
	padding: 0
}
.templatemo_paging ul {
	margin: 0;
	padding: 0;
	list-style: none
}
.templatemo_paging ul li {
	margin: 0;
	padding: 0;
	display: inline
}

.templatemo_paging ul li a {
	float: left;
	display: block;
	color: #666;
	text-decoration: none;
	margin-right: 5px;
	padding: 5px 10px;
	background: #000;
	border: 1px solid #282828
}

.templatemo_paging ul li a:hover {
	color: #fff;
	background: #282828;
	border: 1px solid #000
}