#TextBox {
	max-width:80%;
}
#welcome_page_contact {
	display:inline-block;
	text-align:left;
	width:15%;
	background-color: rgba(68,68,68,.5);
	font-size:12px;
	padding:5px;
	margin:5px;
	vertical-align:top;
}
#AlignImageToLeft {
	position:relative;
	top:-25px;
	left:-40px;
	display:inline-block;
	text-align:left;
	width:200px;
	font-size:12px;
	padding:5px;
	margin:5px;
	vertical-align:center;
}
#AlignImageToLeft2 {
	position:relative;
	top:-65px;
	left:-40px;
	display:inline-block;
	text-align:left;
	width:200px;
	font-size:12px;
	padding:5px;
	margin:5px;
	vertical-align:center;
}
#AlignImageToLeft3 {
	position:relative;
	left:0px;
	display:inline-block;
	text-align:center;
	vertical-align:center;
}
#AlignImageToMiddle {
	position:relative;
	left:275px;
	display:inline-block;
	text-align:center;
	vertical-align:center;
}
#AlignImageToRight {
	position:relative;
	left:550px;
	display:inline-block;
	text-align:center;
	vertical-align:center;
}
#AlignTextToLeft {
	display:inline-block;
	width:75%;
}
#AlignTextToRight {
	position:relative;
	top:-20px;
	left:40%;
}
#AlignTextToRight2 {
	display:inline-block;
	width:55%;
}
#MoveContactLinksUp {
	position:relative;
	top:-25px;
}
